{% extends 'base.html' %}

{% block content %}

 <section class="section-hero overlay inner-page bg-image" style="background-image: url('static/images/hero_1.jpg');" id="home-section">
  </section>


    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-8 ">
          <div class="col-8 text" data-aos="fade">
            <h2 class="section-title mb-3">Contact Us</h2>
          </div>
            <form action="#" class="">

             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15840.0973215834!2d100.49047308356327!3d7.006417819417457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304d29af97c3cdef%3A0xf7efa93203415043!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Liq4LiH4LiC4Lil4Liy4LiZ4LiE4Lij4Li04LiZ4LiX4Lij4LmM!5e0!3m2!1sth!2sth!4v1588244108415!5m2!1sth!2sth" 
             width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
            </form>
          </div>
          <div class="col-lg-5 ml-auto">
            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">เรื่อนศรีทรัพย์แมนชั่น เลขที่4 หมู่6 ถนนทุ่งรี ซอย3 ตำบลคอหงส์ อำเภอเมือง จังหวัดสงขลา </p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">youremail@domain.com</a></p>

            </div>
          </div>
        </div>
      </div>
    </section>

   

  </body>
</html>
{% endblock %}